/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffabbf;
}

/* Header styles */
header {
    background-color:lightskyblue;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .tc-logo {
    margin-right: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}
nav ul li a:hover{
    background-color:whitesmoke ;
    color: black;
}

.book-now {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.book-now:hover{
    background-color: whitesmoke;
    color: black;
}

/* Hero section styles */
.hero {
    background-size: cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color:black;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color:black;
}

.hero-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}
.hero-button:hover{
    background-color: whitesmoke;
    color:black;
}

/* Destinations section styles */
.destinations {
    padding: 80px 20px;
    text-align: center;
}

.destinations h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.destination-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 40px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h3 {
    font-size: 1.8rem;
    margin: 20px 0;
}

.card p {
    font-size: 1.2rem;
    margin: 0 20px 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
